:root{

    --color-fondo-detalles-contenido: rgb(251, 251, 251);

    --tam-info-clases-pc: 35vh;
    --tam-info-clases-cel: 70vh;
}



.scrollspy-seguimiento {
    height: var(--tam-info-clases-pc);
    overflow: auto;
}

@media (max-width: 800px) {
    .scrollspy-seguimiento {
        height: var(--tam-info-clases-cel);
        overflow: auto;
    }
}


@media (max-width: 420px) {
    
    #navegador-anidado-clases {
        margin: 0px;
        padding: 0px !important;
    }
    
    #navbar-example3{
        padding: 0px !important;
    }
    .nav-link{
        width: 26vw;
    }
    
}

#navegador-anidado-clases {
    width: 100%;
    padding: 7vh 2vh 0px 7vh;
}

.item{
    padding-bottom: 30vh;
}



#enlaces-practicas{
    background-color: var(--color-fondo-detalles-contenido);
    border: 1px solid black;
    border-radius: 10px;
}

#enlaces-practicas-detalles{
    background-color: var(--color-fondo-detalles-contenido);
    border: 1px solid black;
}
