#material-clase-contenedor{
    display: grid;
    place-items: center;
    
}

#material-clase-contenedor iframe{
    height: 70vh;
    width: 70%;
}


@media (max-width: 800px) {
    #material-clase-contenedor iframe{
        height: 60vh;
        width: 100%;
    }
}
