:root{
    --btn-recurso-color: rgb(77, 110, 181);
}

.entregas{
    background-color: rgba(216, 1, 1, 0.569) !important;
}

#recursos-contenedor{
    display: grid;
    margin-top: 5vh;
    width: 30vw;
}

.btn-recurso{
    margin-top: 2vh;
    background-color: var(--btn-recurso-color);
}