:root{
    --btn-recurso-color: rgb(77, 110, 181);
}

#contenedor-nav-lateral{
    margin: 30px 10px 10px 30px;
}

#contenedor-nav-lateral button{
    background-color: rgba(41, 45, 129, 0.835);
}

#contenedor-nav-lateral button:hover{
    border: 2px solid rgb(174, 174, 218);
}

.entregas{
    background-color: rgba(216, 1, 1, 0.569) !important;
}

#recursos-contenedor{
    display: grid;
    margin-top: 5vh;
    width: 30vw;
}

.btn-recurso{
    margin-top: 2vh;
    background-color: var(--btn-recurso-color);
}