:root{
    --color-fondo-claro: whitesmoke;
    --bg-color-btn-nav: rgb(176, 206, 177);
    --bg-color-btn-nav-hover: rgb(47, 70, 48);
    --bg-color-btn-nav-active: rgba(47, 129, 55, 0.555);

    --color-nav-principal-item-hover: whitesmoke;
    --color-nav-principal-item-active: rgb(0, 0, 0);
    --color-nav-principal-item: black;

    --color-nav-principal-item-border: rgba(0, 0, 0, 0.386);

    --footer-bg-color: rgba(222, 222, 222, 0.405);
    --navbar-toggler-color-borde-nulo: rgba(255, 255, 255, 0);
}

body{
    background-color:  var(--color-fondo-claro);
}

.navbar-brand{
    background-color: rgba(89, 204, 98, 0.363);
    border-radius: 10px;
    border: 2px solid rgba(109, 168, 109, 0.548);
    font-weight: bold;
    font-family: monospace;
    color: rgb(77, 77, 77);
}

.navbar-toggler:hover {
    border: 3px solid rgba(0, 0, 0, 0.384);
    background-color: rgba(27, 202, 27, 0.24);
    color: rgba(106, 156, 93, 0.603);
}
.navbar-toggler{
    border: 3px solid rgba(0, 0, 0, 0.384);
    color: var(--navbar-toggler-color-borde-nulo);
    background-color: rgba(36, 175, 36, 0.514);
}

.nav-principal-item{
    font-size: large;
    font-weight: 400;
    background-color: var(--bg-color-btn-nav);
    color: var(--color-nav-principal-item);
    border-radius: 1px;
    padding-left: 1.5vw;
}
.nav-principal-item:hover{
    background-color: var(--bg-color-btn-nav-hover);
    color: var(--color-nav-principal-item-hover);

}

.navegacion-item{
    border: 1px solid var(--color-nav-principal-item-border);
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-nav-principal-item-active);
    background-color: var(--bg-color-btn-nav-active);
}

.navbar{
    background: rgb(182,218,179);
    background: linear-gradient(0deg, rgba(182,218,179,1) 0%, rgba(241,247,239,1) 51%, rgba(182,218,179,1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.216);

    padding: 0px;

}



#breadcrumb-contenedor{
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    margin-top: 1vh;
}

footer{
    background-color: var(--footer-bg-color) ;
}

.nav-link {
    min-width: 100%;
}