:root{
    --color-fondo-claro: whitesmoke;
    --bg-color-boton-navegacion: rgb(80, 127, 82);

    --color-txt-seccion-naveggacion: whitesmoke;
}

body{
    background-color:  var(--color-fondo-claro);
}

.nav-principal-item{
    font-size: large;
    font-weight: 400;
    background-color: var(--bg-color-boton-navegacion);
    color: rgb(0, 0, 0);
    border-radius: 1px;

}

.navegacion-item{
    border: 1px solid rgba(0, 0, 0, 0.662);
}

.nav-principal-item:hover{
    color: var(--color-txt-seccion-naveggacion);

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-txt-seccion-naveggacion);
}

.navbar{
    background: rgb(182,218,179);
    background: linear-gradient(0deg, rgba(182,218,179,1) 0%, rgba(241,247,239,1) 51%, rgba(182,218,179,1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.216);

    padding: 0px;

}



#breadcrumb-contenedor{
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    margin-top: 1vh;
}