:root{
    --color-fondo-claro: whitesmoke;
    --color-fondo-detalles-contenido: rgb(251, 251, 251);
    --color-info-general: #dae1e2;
    --color-txt-info-general: rgb(69, 69, 69);

    --tam-info-clases-pc: 35vh;
    --tam-info-clases-cel: 70vh;
}

body{
    background-color:  var(--color-fondo-claro);
}

.nav-principal-item{
    font-size: large;
    font-weight: 400;
}

.nav-principal-item:hover{
    font-weight: 500;

}

.navbar{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(242, 242, 242) 14%, rgba(255,255,255,1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.216);
}

.btn-secondary{
    --bs-btn-bg: var(--color-info-general);
}

.btn{
    color: var(--color-txt-info-general);
}
.scrollspy-seguimiento {
    height: var(--tam-info-clases-pc);
    overflow: auto;
}

@media (max-width: 800px) {
    .scrollspy-seguimiento {
        height: var(--tam-info-clases-cel);
        overflow: auto;
    }
}


@media (max-width: 420px) {
    
    #navegador-anidado-clases {
        margin: 0px;
        padding: 0px !important;
    }
    
    #navbar-example3{
        padding: 0px !important;
    }
    .nav-link{
        width: 26vw;
    }
    
}

#navegador-anidado-clases {
    width: 100%;
    padding: 7vh 2vh 0px 7vh;
}

.item{
    padding-bottom: 30vh;
}

#info-general{
    margin-top: 3vh;
    margin-bottom: 7vh;
}

#enlaces-practicas{
    background-color: var(--color-fondo-detalles-contenido);
    border: 1px solid black;
    border-radius: 10px;
}

#enlaces-practicas-detalles{
    background-color: var(--color-fondo-detalles-contenido);
    border: 1px solid black;
}
