:root{
    --tam-info-clases-pc: 30vh;
    --tam-info-clases-cel: 70vh;
}

.scrollspy-seguimiento {
    height: var(--tam-info-clases-pc);
    overflow: auto;
}

@media (max-width: 800px) {
    .scrollspy-seguimiento {
        height: var(--tam-info-clases-cel);
        overflow: auto;
    }
}

#navegador-anidado-clases {
    width: 100%;
    padding: 7vh 2vh 0px 7vh;
}

.item{
    padding-bottom: 30vh;
}

#info-general{
    margin-top: 7vh;
    margin-bottom: 3vh;
}
